.Cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 45px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 150px;
    color: white;
    text-decoration: none;
}


